.caixa {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 18px 0 18px 0;
    position: relative;
    width: 1310px;
}

nav li {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 15px;
    position: relative;
}

.caixa-logo {
    align-items: center;
    display: flex;
    margin-inline-end: auto;
    margin-left: 135px;
    width: 140px;
}

.caixa-logo p {
    padding-left: 20px;
}

.logo {
    height: 26.99px;
    width: 27px;
}

.nome__logo {
    color: #3A404E;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    width: 113px;
}