.menu__lista {
    display: flex;
    color: var(--text-color);
    gap: 40px; 
    margin: auto;
}

section {
    display: flex;
    margin: auto;
}

.caixa-menu__lista {
    display: flex;
    margin-right: 200px;
}

