.cabecalho {
    position: relative;
    height: 407px;
    width: 1310px;
}









 
    /*justify-items: center;
    height: 407px;
    width: 1440px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
    padding: 96px 0px 96px 0px;