.caixa-subtitulo {
    width: 125px;
    height: 20px;

    /* Text sm/Medium */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    color: #8E2424;
    background: rgba(142, 36, 36, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;


    
    border-radius: 16px;
}