.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 64px;

    width: 1310px;
    height: 1798px;

    /* Base/White */

    background: #FFFFFF;
}